/Armor.class
/Chest.class
/Gloves.class
/Pants.class
/Helmet.class
/StandardItems.class
/Weapon.class
/Hero.class
/Warrior.class
/Rogue.class
/Tester.class
/Monk.class
/Monl.class
/Mage.class
/WhiteMage.class
/BlackMage.class
/GrayMage.class
/Enemy.class
